/* animations */
@keyframes typing {
  from { width: 0%; }
  to { width: 100%; }
}
@keyframes loading {
  0%{opacity: 0;}
  95%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes fadeout {
  0%{opacity: 1;}
  100% {
    opacity: 0;
    display: none; 
  }
}
@keyframes gradient {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 200%;
  }
}


/* fonts */
@font-face {
  font-family: 'aquarius';
  src: url('fonts/aquarius.regular-mono.ttf') format('truetype');
}
@font-face {
  font-family: "departure";
  src: url("fonts/DepartureMono-Regular.woff") format("woff");
}
@font-face {
  font-family: "ubuntu";
  src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
}



:root
{
  --display: none;
  --height: 95vh;
  --cream: #EBDBB2;
  --darkbrown: #282828;
  --orange: #FE8019;
  --green: #B8BB26;
  --red: #FB4934;
}

/*---------------------------------------------*/
/* cursor */
*{
  cursor: none;
  
}
*::selection
{
  background-color: var(--cream);
  color: var(--darkbrown);
}
.cursor {
  display: var(--display);
  width: 10px;
  height: 20px;
  background-color: var(--cream);
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ebackground 0.15s ease;
  transform: translate(-50%, -50%);
}


/*---------------------------------------------*/
/* main css */
.body
{
  /* form */
  background-color: var(--darkbrown);
  color: var(--green);
  padding-left: 20px;
  padding-top: 10px;
  font-family: departure;
  
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
}

/* LOADING SCREEN */
.loading
{
  font-size: 30px;
  color: var(--green);
  width: 500px;
  height: 500px;
  /* background-color:brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* animation */
  animation: fadeout 0.4s ease forwards;
  animation-delay: 3.5s;
}
.bar
{
  width: 150px;
  height: 30px;
  border: 3px solid var(--cream);
  
  /* display */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  /* animation */
  animation: fadeout 0.4s ease forwards;
  animation-delay: 3.5s;
  
  
}
.filler
{
  width: 95%;
  height: 95%;
  opacity: 0;
  background-color: var(--red);
  animation: loading 1s linear forwards;
}
.filler:nth-child(1)
{
  animation-delay: 0s;
}
.filler:nth-child(2)
{
  animation-delay: 0.4s;
}
.filler:nth-child(3)
{
  animation-delay: 0.5s;
}
.filler:nth-child(4)
{
  animation-delay: 1s;
}
.filler:nth-child(5)
{
  animation-delay: 1.2s;
}
.filler:nth-child(6)
{
  animation-delay: 2s;
}



/*---------------------------------------------*/
/* MAIN SCREEN */
#frame
{
  display: var(--display);
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
  /* padding-left: 10px; */
}

/* contents */
#heading
{
  color: var(--orange);
  font-size: 40px;
  margin-bottom: 5px;
}
#github, #twitter, #codeforces, #mail
{
  font-size: 18px;
  text-decoration: none;
  color: var(--cream);
}
#skill, #lang, #about, #interested, #hobbies
{
  color: var(--red);
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-wrap: wrap;
}
.box
{
  border: 3.5px solid var(--cream);
  /* border-radius: 15px; */
  padding-left: 10px;
  padding-right: 10px;
}

/* others content + animation */
.others
{
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(300) forwards;
}
.bulletpoint
{
  text-wrap: wrap;
}
#chess, #books
{
  text-decoration: none;
  color: var(--green);
}
#abouttext
{
  white-space: pre-line;
}
#themecredit, #fontcredit
{
  text-decoration: none;
  color: var(--cream);
}




/*---------------------------------------------*/
/* FONT SIZE */
#msg, #summary, #skilllist, #langlist, #abouttext, .bulletpoint, #themecredit, #fontcredit
{
  font-size: 22px;
}





/*---------------------------------------------*/
/* EFFECTS */
#github:hover
{
  border-radius: 3px;
  background: linear-gradient(to right, #7760c1, #432673, #22044b, #432673, #7760c1);
  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
}

#codeforces:hover
{
  color: var(--darkbrown);
  border-radius: 3px;
  background: linear-gradient(to right, #8d5500, #c87801, #dedddd, #c87801, #8d5500);
  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
}

#twitter:hover
{
  color: var(--darkbrown);
  border-radius: 3px;
  background: linear-gradient(to right, #0e8ede, #b7c7d2, #0e8ede);
  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
}
#mail:hover
{
  color: var(--darkbrown);
  border-radius: 3px;
  background: linear-gradient(to right, #4284f5, #c6221c, #ea4132, #feba01, #00af45,#4284f5);
  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
}
#chess:hover
{
  color: var(--darkbrown);
  border-radius: 3px;
  background: linear-gradient(to right, #5d9948, #80b64c, #b3e069, #5d9948);
  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
  padding-left: 2px;
}
#books:hover
{
  color: var(--darkbrown);
  border-radius: 3px;
  background: linear-gradient(to right, #ff4800, #ff6000, #ff7900, #ff9100, #ffb600, #ff9100, #ff7900, #ff6000, #ff4800);
  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
  padding-left: 2px;
}


#themecredit:hover{
  color: var(--darkbrown);
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  background: linear-gradient(
    to right, #FE8019, #B8BB26, #FB4934, #FE8019
  );
  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
}
#fontcredit:hover {
  color: var(--darkbrown);
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  /* background: linear-gradient(
    to right,
    #7760c1, #432673, #22044b, #432673, #7760c1
  ); */
  background: linear-gradient(to right, #0e8ede, #b7c7d2, #0e8ede);

  background-size: 200% 200%;
  animation: gradient 1s linear infinite;
}








/* 
🌲 Gruvbox-Inspired Retro Geek
Warm, earthy, cozy terminal
Background: Dark Brown #282828
Foreground: Cream #EBDBB2
Accent: Orange #FE8019
Green: Muted Green #B8BB26
Red: Soft Red #FB4934
💡 Why: Very popular among TUI power users for a reason. */
