@font-face {
    font-family: departure;
    src: url(fonts/DepartureMono-Regular.woff)format('woff');
}
@font-face {
    font-family: arcade;
    src: url(fonts/arcadeclassic.regular.ttf)format(truetype);
}
@font-face {
    font-family: aquarius;
    src: url(fonts/aquarius.regular-mono.ttf)format(truetype);
}
@font-face {
    font-family: ibm;
    src: url(fonts/Ac437_IBM_BIOS.ttf)format(truetype);
}
@font-face {
    font-family: ubuntu;
    src: url(fonts/UbuntuMono-Regular.ttf)format(truetype);
}

:root
{
    --bg: #111;
    --fg: #bbb;
}

body
{
    background-color: var(--bg);
    color: var(--fg);
    font-family: aquarius;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleframe
{
    width: 100%;
    max-width: 800px;
    height: auto;
    background-color: #333;
    /* border: 4px solid var(--fg); */
}


.bodyframe
{
    width: 100%;
}