@font-face {
    font-family: departure;
    src: url(fonts/DepartureMono-Regular.woff)format('woff');
}
@font-face {
    font-family: arcade;
    src: url(fonts/arcadeclassic.regular.ttf)format(truetype);
}
@font-face {
    font-family: aquarius;
    src: url(fonts/aquarius.regular-mono.ttf)format(truetype);
}
@font-face {
    font-family: ibm;
    src: url(fonts/Ac437_IBM_BIOS.ttf)format(truetype);
}
@font-face {
    font-family: ubuntu;
    src: url(fonts/UbuntuMono-Regular.ttf)format(truetype);
}
@font-face {
    font-family: agave;
    src: url(fonts/Agave-Regular.ttf)format(truetype);
}
@font-face {
      font-family: 'dina';
      src: url(fonts/DinaRemasterCollection.ttc) format('collection');
  }

:root
{
    /* --bg: #312f38; */
    /* --fg: #c0a79a; */
    /* --margin: #625465; */
    --darkpurple: #312f38;
    --red: #87414f;
    --green: #75924f;
    --yellow: #ad835a;
    --purple: #615771;
    --pink: #844b63;
    --violet: #625464;
    --sandal: #c0a79a;

}

*
{
    font-family: aquarius;
}

body
{
    background-color: var(--darkpurple);
    color: var(--sandal);
    /* height: 97vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 3px; */
}

/* ------------------------------------------- */
/* TITLEFRAME */
.titleframe
{
    width: 100%;
    max-width: 800px;
    height: auto;
    /* background-color: #333; */
    /* border: 4px solid var(--fg); */

    
}

#welcome
{
    font-size: 15px;
}

.titleframe p
{
    font-size: 20px;
    margin-bottom: 10;
    margin-top: 10px;
}
.titleframe h1
{
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 10px;
}


/* ------------------------------------------- */
/* BODYFRAME */
.bodyframe
{
    width: 100%;
    max-width: 800px;
    
    flex: 1;
    /* background-color: #555; */
    
    display: flex;
    flex-direction: column;
    /* border-top: 3px solid var(--margin); */
}


/* ------------------------------------------- */
.titleframe, .bodyframe
{
    /* padding-left: 30px; */
    box-sizing: border-box;
    /* border-left: 3px solid var(--yellow); */
    /* border-style:dashed; */
}

/* ------------------------------------------- */
/* OPTION MENU BAR */
.optmenu
{
    width: 100%;
    min-height: 60px;
    height: auto;
    /* background-color: #777; */
    border-bottom: 3px solid var(--yellow);
    border-top: 3px solid var(--yellow);

    padding-top: 10px;
    padding-bottom: 10px;
    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    gap: 20px;
    align-items: center;
}
/* MENU BAR BUTTONS */
.btns
{
    width: auto;
    height: 30px;
    background-color: var(--darkpurple);
    color: var(--sandal);
    border: none;
    border-radius: 5px;
    /* border: 2px solid var(--yellow); */
    /* border: 3px solid black; */

    transition: transform 0.3s ease;
}
.btns:hover
{
    background-color: var(--red);
    /* border: 2px solid var(--sandal); */
    border: none;
    box-sizing: border-box;
    transform: translateY(-2px);
}
.btns:active
{
    transform: scale(0.85);
    /* background-color: var(--green); */
}

.btns.clicked
{
    /* background-color: var(--pink); */
    border: 2px solid var(--sandal);
    box-sizing: border-box;
}

.btns:nth-child(1):hover
{
    background-color: var(--red);
    color: var(--darkpurple);
    border: none;
}
.btns:nth-child(2):hover
{
    color: var(--darkpurple);
    background-color: var(--green);
    border: none;
}
.btns:nth-child(3):hover
{
    color: var(--darkpurple);
    background-color: var(--purple);
    border: none;
}
.btns:nth-child(4):hover
{
    color: var(--darkpurple);
    background-color: var(--yellow);
    border: none;
}



/* ------------------------------------------- */
/* CONTENT */
.content
{
    width: 100%;
    /* background-color: #666; */
    flex: 1;
}

.languages, .tools, .frameworks
{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-around; */

}

/* #html, #css, #js, #cpp, #py */
.languages p, .frameworks p
{
    color: var(--darkpurple);
    border-radius: 5px ;
    padding: 4px;
    padding-left: 8px;
    padding-right: calc(padding-left - 3px);
}

#html
{
    background-color: #e54b21c3;
}
#css
{
    background-color: #1b73bb9d;
    color: rgba(255, 255, 255, 0.796);
}
#js
{
    background-color: #f7de1fae;
}
#cpp
{
    background-color: #01579dbf;
    color: rgba(255, 255, 255, 0.796);
}
#py
{
    background-color: var(--green);
    color: var(--darkpurple);
}
#react
{
    background-color: #00d9ff;
    color: var(--darkpurple);
}
/* #git
{

} */

#skilltitle, #frmtitle, #toolstitle
{
    margin-bottom: 0;
    font-size: 20px;
}


.content p
{
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}



/* ------------------------------------------- */
/* EXTRAS */

/* HIGHLIGHTING COLORS */
*::selection
{
    background-color: var(--sandal);
    color: var(--darkpurple);
}

/* TITLE NAME COLOR */
.titlename:nth-child(1)
{
    color: var(--green);
}
.titlename:nth-child(2)
{
    color: var(--red);
}
.titlename:nth-child(3)
{
    color: var(--purple);
}
.titlename:nth-child(4)
{
    color: var(--yellow);
}

.countryname:nth-child(1)
{
    color: #ff661faf;
}
.countryname:nth-child(2)
{
    color: rgba(255, 255, 255, 0.633);
}
.countryname:nth-child(3)
{
    color: #046a39;
}

/* theme source */
/* https://github.com/mbadolato/iTerm2-Color-Schemes?tab=readme-ov-file#urban */