/* FONTS */
@font-face {
  font-family: "departure";
  src: url("../fonts/DepartureMono-Regular.woff") format("woff");
}


/* ROOT VARIABLES */
:root
{
  --height: 95vh;
  --cream: #EBDBB2;
  --darkbrown: #282828;
  --orange: #FE8019;
  --green: #B8BB26;
  --red: #FB4934;
}


/* MAIN BODY */
body
{
  display: flex;
  justify-content: center;
  background-color: var(--darkbrown);
  
  font-family: departure;
  font-size: 22px;
  color: var(--green);
}
#frame
{
  width: 90%;
  max-width: 800px;
}
#frame h1
{
  font-size: 35px;
  color: var(--red);
  margin-bottom: 0px;
}
.heading
{
  display: flex;
  justify-content: space-between;
}
#back
{
  height: min-content;
  background-color: var(--darkbrown);
  color: var(--orange);
  border: 3px solid var(--cream);
  font-family: departure;
  font-size: 20px;
  transition: transform 0.1s ease;
}
.box
{
  /* display */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* sizing */
  width: 100%;
  /* height: 200px; */
  box-sizing: border-box;
  /* padding */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  gap: 20px;
  /* border */
  border: 4px solid var(--cream);
}
.images
{
  padding-top: 25px;
  padding-bottom: 25px;
  height: 250px;
  transition: transform 0.2s ease;
}


/* ANIMATIONS AND TRANSITIONS */
.images:hover
{
  transform: scale(1.2);
}
#back:hover
{
  background-color: var(--cream);
  color: var(--darkbrown);
}
#back:active
{
  transform: scale(0.85);
}

